<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>d-i as a service</title>
<style>
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#preseed {
  height: 95vh;
  width: 50%;
  float: left;
  resize: none;
}
#late_command {
  height: 95vh;
  width: 50%;
  float: right;
  resize: none;
}
</style>
  </head>
  <body>
    <form method="post" id="form">
      <center>
        {{ preseed_path | safe }}
        IP: {{ ip }}, Codename:
        <select name="codename">
          {{ option | safe }}
        </select>
        <button type="submit" value="Save">Save</button>
        {{ late_command_path | safe }}
      </center>
      <textarea type="textarea" name="preseed" id="preseed">{{ preseed }}</textarea>
      <textarea type="textarea" name="late_command" id="late_command">{{ late_command }}</textarea>
      <center>Source Code: <a href="https://github.com/fourdollars/diaas">https://github.com/fourdollars/diaas</a>, Share: {{ share | safe }}</center>
    </form>
  </body>
</html>
